DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

MAILER_SERVICE=gmail
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER=your-email@gmail.com
MAILER_PASSWORD=your-password
MAILER_FROM=your-email@gmail.com

CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=UUID_V4_STRING
JWT_REFRESH_SECRET=UUID_V4_STRING
